html
  body
    #bgvid
      position: fixed
      left: 0
      top: 0
      min-width: 100%
      min-height: 100%
      z-index: -1000
      background: url(../images/test.jpg) no-repeat
      background-size: cover
    .nav
      ul
        font-size: 20px
        padding: 0
        padding: 4% 0
        margin-bottom: 0
        text-align: center
        li
          display: inline
          margin: 0 80px
        li:hover
          background: #7a7a7a
        a
          color: #a3a3a3
          padding: 10px 20px
          background: #6B6B6B
        a:hover
          text-decoration: none
          color: white
    .home
      h1
        margin-top: 13%
        text-align: center
        font-size: 80px
        color: white
      p
        text-align: center
        color: #a3a3a3
        letter-spacing: .03em